{
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.ejs",
      "options": {
        "parser": "html",
        "printWidth": 100,
        "singleQuote": false,
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
