/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap'); */

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('./NotoSansThai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Noto Sans Thai', sans-serif;
}

h1 {
  font-size: 27px;
  font-weight: bold;
}

p {
  font-size: 10px;
  line-height: 3.2mm;
  margin: 0.2mm 2mm;
}

/* Center the heading */
#docName {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 15mm;
  z-index: -1;
}

#pageNumber {
  position: absolute;
  top: 0;
  right: 0mm;
  padding-top: 1mm;
  z-index: -1;
  font-size: 14px;
  font-weight: bold;
  margin-top: 4mm;
  margin-right: 4mm;
}

#pdfContent {
  width: 210mm;
  margin: auto;
}

#invoice {
  size: A4;
  width: 210mm;
  height: 297mm;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 5mm;
}

.topRight {
  position: absolute;
  top: 0;
  right: 0mm;
  padding-top: 12mm;
  z-index: -1;
  border: none;
}

#docInfo td {
  border: none;
  padding: 0.2mm; /* Optional, adjust as needed */
  vertical-align: middle;
  width: 25mm;
}

#paymentTable th {
  border: 2px solid white;
  padding-top: 1.2mm;
  padding-bottom: 1.2mm;
}

#paymentTable td {
  border: 2px solid white;
  text-align: center;
  /* background-color: #d0d4ec; */
  background-color: #f0ecf4;
  padding-top: 1.2mm;
  padding-bottom: 1.2mm;
}

.section {
  padding-top: 0;
  display: flex;
}

.first-section {
  padding-top: 2mm;
}

.second-section {
  padding-top: 0;
  padding-bottom: 2mm;
}

.third-section {
  padding-top: 0;
}

.flex {
  display: flex;
}

#companyLogo {
  width: 15%;
  display: flex;
}

#signature {
  margin-top: 4mm;
  margin-bottom: 0mm;
  width: auto;
  height: 13mm;
  display: fixed;
}

#eStamp {
  margin-top: 4mm;
  margin-bottom: 0mm;
  width: auto;
  height: 25mm;
  display: fixed;
}

.c1 {
  background-color: #d0d4ec;
  width: 68%;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.c2 {
  background-color: #d0d4ec;
  width: 20%;
  text-align: right;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}
.c3 {
  background-color: #d0d4ec;
  width: 12%;
  text-align: right;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.left,
.right {
  width: 48%;
  margin-right: 5mm;
}

/* ------------- TABLE -----------------*/

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0px;
}

table th,
table td {
  border: 1px solid #000;
  padding: 8px;
  font-size: 10px;
}

table th {
  background-color: #e0dcdc;
}

thead th {
  text-align: center;
}

#itemTable td {
  padding-left: 1.5mm;
  padding-right: 1.5mm;
  padding-top: 0mm;
  padding-bottom: 0mm;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ffffff;
}

#productDescription {
  font-size: 8px;
  padding-bottom: 0mm;
  padding-top: 0mm;
  /* width: 20%; */
  /* word-wrap: break-word; */
}
/* ------------------------------------*/

#total {
  background-color: #e0dcdc;
  width: 99.8%;
  text-align: right;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  margin: 0;
  margin-bottom: 3mm;
  padding-top: 1.5mm;
  padding-bottom: 1.5mm;
  font-weight: bold;
}

#remark {
  font-size: 10px;
}

hr {
  border: none;
  border-top: 1px solid #000;
}

.text-right {
  text-align: right;
}

/* Ensure everything fits into A4 size */
html,
body {
  height: 297mm;
  width: 210mm;
  margin: 0 auto;
  padding: 0;
}

/* NOTE: if not use, delete. */
.answer {
  opacity: 1;
}

#payment {
  font-size: 12px;
  font-weight: 900;
  padding-bottom: 2mm;
  margin-left: 2mm;
}

button {
  margin-top: 2mm;
  margin-bottom: 2mm;
}
