/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap'); */

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('./NotoSansThai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Noto Sans Thai', sans-serif;
}

p {
  font-size: 12px;
  line-height: 3.2mm;
  margin: 0.2mm 2mm;
  padding: 0.5mm;
}

/* Center the heading */
#docName {
  text-align: right;
  position: absolute;
  right: 6mm;
  top: 19mm;
  margin-right: 0;
  z-index: -1;
}

.blueBox {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 5mm;
  height: 26mm;
  z-index: -1;
  /* border: #000 solid 1px; */
  background-color: #d0d4ec;
  right: 0;
  top: 12mm;
}

#pageNumber {
  position: absolute;
  top: 0;
  right: 0mm;
  padding-top: 1mm;
  z-index: -1;
  font-size: 11px;
  font-weight: bold;
  margin-top: 4mm;
  margin-right: 4mm;
}

#pdfContent {
  width: 210mm;
  margin: auto;
}

#invoice {
  size: A4;
  width: 210mm;
  height: 297mm;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 5mm;
}

.topRight {
  /* border: #000 solid 1px; */
  position: relative;
  vertical-align: bottom;
  top: 6mm;
  margin-left: 3mm;
  padding: 0;
  height: 25mm;
}

#docInfo td {
  padding: 0mm;
  vertical-align: middle;
  font-size: 12px;
}

#paymentTable th {
  border: 2px solid white;
  padding-top: 1.2mm;
  padding-bottom: 1.2mm;
}

#paymentTable td {
  border: 2px solid white;
  text-align: center;
  /* background-color: #d0d4ec; */
  background-color: #f0ecf4;
  padding-top: 1.2mm;
  padding-bottom: 1.2mm;
}

.section {
  padding-top: 0;
  display: flex;
}
/* 
.first-section {
  padding-top: 2mm;
} */

.second-section {
  padding-top: 0;
  padding-bottom: 2mm;
}

.third-section {
  padding-top: 0;
}

.flex {
  display: flex;
}

#companyLogo {
  margin-left: 2mm;
  height: 30mm;
  max-width: 40mm;
  /* border: #000 solid 1px; */
}

#signature {
  margin-top: 4mm;
  margin-bottom: 0mm;
  width: auto;
  height: 13mm;
  display: fixed;
}

#eStamp {
  margin-top: 4mm;
  margin-bottom: 0mm;
  width: auto;
  height: 25mm;
  display: fixed;
}

#c1 {
  background-color: #d0d4ec;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

#c2 {
  background-color: #d0d4ec;
  text-align: right;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

#c2 p {
  font-size: 11px;
}

#c3 {
  background-color: #d0d4ec;
  text-align: right;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

#c3 p {
  font-size: 11px;
}

.left,
.right {
  width: 48%;
  margin-right: 5mm;
}

/* ------------- TABLE -----------------*/

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0px;
}

[id^='itemTable-'] th {
  font-size: 10px;
  font-weight: bold;
  border: 1px solid #000;
  background-color: #e0dcdc;
  padding: 8px;
  text-align: center;
}

[id^='itemTable-'] td {
  font-size: 11px;
  border: 1px solid #000;
  padding-left: 1.5mm;
  padding-right: 1.5mm;
  padding-top: 0mm;
  padding-bottom: 0mm;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ffffff;
}

/* NOTE: EXperimenting */
#productDescription {
  font-size: 11px; /* 8px */
  padding-bottom: 0mm;
  padding-top: 0mm;
  /* width: 20%; */
  /* word-wrap: break-word; */
}

#signatureTable {
  position: absolute;
  margin: 4mm;
  margin-bottom: 6mm;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #000;
  justify-content: center;
  z-index: -1;
}

#createdPerson {
  font-size: 10px;
  position: absolute;
  text-align: center;
  z-index: -1;
  bottom: 15mm;
  left: 2mm;
  /* border: #000 solid 1px; */
  width: 39mm;
}

#createdPersonDate {
  font-size: 10px;
  position: absolute;
  text-align: center;
  z-index: -1;
  bottom: 7mm;
  left: 12mm;
  width: 35mm;
}

#approvalPerson {
  font-size: 10px;
  position: absolute;
  text-align: center;
  z-index: -1;
  bottom: 15mm;
  left: 42.2mm;
  /* border: #000 solid 1px; */
  width: 39mm;
}

#approvalPersonDate {
  font-size: 10px;
  position: absolute;
  text-align: center;
  z-index: -1;
  bottom: 7mm;
  left: 53mm;
  width: 35mm;
}

/* ------------------------------------*/

#total {
  background-color: #e0dcdc;
  width: 99.3%;
  text-align: right;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  margin: 0;
  margin-bottom: 0;
  padding-top: 1.5mm;
  padding-bottom: 1.5mm;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid #000;
}

.text-right {
  text-align: right;
}

/* Ensure everything fits into A4 size */
html,
body {
  height: 297mm;
  width: 210mm;
  margin: 0 auto;
  padding: 0;
}

/* NOTE: if not use, delete. */
.answer {
  opacity: 1;
}

.topic {
  font-weight: bold;
}

#payment {
  font-size: 12px;
  font-weight: 900;
  padding-bottom: 2mm;
  margin-left: 2mm;
}

button {
  margin-top: 2mm;
  margin-bottom: 2mm;
}
